.FooterP {
    color: white;
    text-transform: uppercase;
    background: none;
    border-bottom: 2px solid black;
    text-align: left;
    padding: 12px 0;
    font-size: 1.125rem;
    margin-bottom: 15px;
    font-weight: 900;
    margin-top: -30px;
}
.FooterP:hover {
    color: black;
    transition: 0.4s ease;
    cursor: pointer;
}
.footer__logo{
    width: 200px;
    height: 200px;
}